/* General Styles */
body {
    /* Set background color of the webpage */
    background-color: #ffffd0;
}

/* Main Game Container Styles */
.game-container {
    /* Center elements horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set width, padding, and background color */
    width: 80%;
    padding: 2rem;
    flex-direction: column;
    background-color: orange;
    font-weight: bold;
    margin: 5vh auto;
}

/* Shared Styles for Score and Button Containers */
.score-container,
.button-container {
    /* Allocate equal space within parent container  and arrange elemets position and stretch*/
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

/* Styles for Score Counter */
.counter {
    font-size: 1.2rem;
    margin-right: 2rem;
    align-items: stretch;
}

/* Styles for Generic Row Layout */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 5%;
}

/* Shared Styles for Choice and Action Buttons including scalable size colour and 
transition effects and space betwin elements*/
.choice-button,
.action-button {
    font-size: 3vw;
    padding: 1rem 2rem;
    background-color: #ddd;
    color: black;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    margin: 0.5rem;
    flex: 1;
}

/* Styles for hover effect on choice and action buttons */
.choice-button:hover,
.action-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
}

/* Specific Styles for Action Buttons */
.action-button {
    font-size: 1.6vw;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}

/* Styles for Reset Button  includes colour, transitions effects and size*/
.reset-button {
    font-size: 3vw;
    padding: 1rem 2rem;
    background-color: #388e3c;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    margin: 1rem 0.5rem;
    border-radius: 5px;
}

.reset-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
}

.result-text {
    font-size: 3vw;
}

/*hide class for elements that should be hidden */
.hide {
    display: none;
}

.choice-display {
    font-size: 3vw;
    padding: 1rem 2rem;
    background-color: #ddd;
    color: black;
    margin: 2vh;

}